# Compiled Python files
src/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore specific files and directories
src/__pycache__/tools.cpython-39.pyc
src/data_preprocessing.ipynb
data/cell_images/test/
data/cell_images/train/
data/cell_images/validation/
malaria-env/

src/__pycache__/tools.cpython-39.pyc
src/data_preprocessing.ipynb
data/cell_images/test/
data/cell_images/train/
data/cell_images/validation/
malaria-env/